

# MacOsX files
.DS_Store
Icon?

# Matlab autosave files
*.asv

# Produced images for running time
/Holograms/**
/Holograms_AmplitudeOnly/**
/Images/**
*.png
*.PNG
*.eps
*.jpeg
*.JPEG
*.jpg
*.JPG

# Needed images
!/SupportFiles/GrayLevel/**
!/SupportFiles/SemiGrayLevels/**
!/SupportFiles/SemiGrayLevelsV/**
!/SupportFiles/TestPatterns/**

# Calibration files
*.txt

# Needed text files
!+scripts/design_kinds*.txt
!Designs/design_kinds.txt
!SupportFiles/1_calibration_README_LEEME_INSTRUCTIONS.txt


# Third party software
/Stage/SoftWare

# Old files
/SupportFiles/complexValues_OLD/**

# MacOS-X links (defined by me)
*.link